PacMan in 3D

    General:
        - Big Title
        - Sound
        - Difficulties
        - Perfet Size
        - Reframe
        - Score
        - Initial Screen displaying tower
        - Game Over
        - Leaderboard (database)
        - Optional:
            - Settings

    Game:
        - Level tower
        - Ghost types
        - Map
        - Lifes
        - Power Ups
        - Little balls


Requirements:

    - Hierarchical Models (Tower, Ghost, Maze, Pacman)
    - Lights
    - Textures (Pacman, Ghost, Maze, Tower, Floor)
    - User Interaction
    - Animations